/**
 * Author: zhangfs by Atom
 * Date: 2018/03/22 10:20
 */
@charset "utf-8";
* {
    margin:0;
    padding: 0;
}
/* 禁用iPhone中Safari的字号自动调整 */
html {
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
}
/* 去除iPhone中默认的input样式 */
input[type="submit"], input[type="reset"], input[type="button"], input{
   resize: none;
}
input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
/* 取消链接高亮 并初始化 */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section {
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
}
/* 设置HTML5元素为块 */
article, aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section {
    display: block;
}
/* 图片自适应 */
img {
    border: none;
    height: auto;
    border: none;
    max-width: 100%;
    height: auto; width:auto\9; /* ie8 */
    -ms-interpolation-mode: bicubic; /*为了照顾ie图片缩放失真*/
}
/**
 * ios字体： Heiti SC,Helvetica,HelveticaNeue
 * android字体： 默认中文字体是Droidsansfallback 默认英文和数字字体是Droid Sans
 * winphone字体：默认中文字体是Dengxian(方正等线体)  默认英文和数字字体是Segoe
 */
body {
    margin:0 auto;
    background: #f5f5f5;
    font-family:AvantiBold,'微软雅黑', SimHei,'Helvetica Neue',Arial,'Droid Sans',sans-serif;
}
em,i {
    font-style:normal;
}
ul,ol {
    list-style:none;
}
h1, h2, h3, h4, h5, h6 {
    font-family:"微软雅黑";
}
a {
    text-decoration:none;
    color:#969696;
    font-family:AvantiBold,SimHei,'Helvetica Neue',Arial,'Droid Sans',sans-serif;
}
a:hover {
    text-decoration:none;
}
/*
  隐藏滚动条样式但又可以滚动区已经
*/
::-webkit-scrollbar{
    display:none;
}

.container {
    padding-top: .8rem;
    font-size: .32rem;
}
